* {
    margin: 0;
    /* padding: 0; */
    font-family: 'Open Sans', sans-serif;
    ;
}

/* header navbar syle */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    color: #474747;

}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

/* Banner Stylwes */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title {

    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #584e4e;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Abouy SECTION styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    break-before: 10px;
    padding: 130px 150px;
    text-align: center;
}
.text-dectription{
    text-align: center;
    color: #474747;
    font-size: 18px;
    margin-bottom: 50px;
    align-items: center;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700px
    ;
}

.banner-description {
    color: #474747;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    /* border: 10px ; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* what i do */
 .what-i-do{
    margin-top: 130px;
    margin-bottom: 130px;
 }
 .skills-container{
    display: flex;
    gap: 24px;
 }
 .skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0,0.06);
    border-radius: 5px;
    padding: 30px;
    border: 5px solid #FD6E0A;
   
 }
 .skill-title{
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 20px;
margin-top: 30px;
 }
 .skill-description{
       color: #474747;
 }

 /* Rusuem containt */
 .resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}

.resume-button{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 80px;
}

/* contact */
.contact .section-title{
    text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding:130px 200px ;
}


.contact input ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}